
{% extends 'base.html' %}

{% block content %}

<h1>blog list</h1>
<br>
<ul>
{% for post in posts %}
  <li>
    <a href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
    <a href="{% url 'blog:update' post.id %}">Update</a>
    <a href="{% url 'blog:delete' post.id %}">Delete {{post.id}}</a>
  <li
{% endfor %}
</ul>
<br>

<a class="mx-2 my-2 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600" href={% url 'blog:create' %}>Create</a>

 {% endblock  %}
